@import "@fontsource/roboto";
@import "tailwindcss";
@theme {
  --color-menu: #0058a3;
  --color-menuText: #d6bf00;
  --color-cardGreen: #157a3a;
  --color-cardOrange: #fdd9c4;
  --color-tableDegrad: #0058a3;
  --color-fileButton: #FFFFF;
  --color-fileButtonHover: #f0f2f5;
  --color-uploadButton: #FFFFF;
  --color-uploadButtonHover: #f0f2f5;
}

body {
  font-family: "Roboto", sans-serif;
}
